* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: 'Segoe UI', sans-serif;
    background: linear-gradient(to bottom, #0f2027, #203a43 , #2c5364);
    color: #333;
  }
  
  /* Container Umum */
  .container {
    width: 90%;
    max-width: 1200px;
    margin: auto;
    padding: 20px 0;
  }
  
  /* Header & Footer */
  header, footer {
    background-color: #2c3e50;
    color: white;
    text-align: center;
    padding: 20px 0;
  }
  
  .logo {
    font-size: 32px;
  }
  
  footer p {
    font-size: 14px;
  }
  
  /* Susun Produk */
  .product-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
  }
  
  /* Kad Produk */
  .product-card {
    background-color: white;
    border-radius: 12px;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
    overflow: hidden;
    width: 100%;
    max-width: 350px;
    display: flex;
    flex-direction: column;
    transition: transform 0.3s ease;
  }
  
  .product-card:hover {
    transform: scale(1.01);
  }
  
  /* Gambar Produk - maintain ratio */
  .image-container {
    width: 100%;
    aspect-ratio: 4 / 3;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ddd;
  }
  
  .image-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  /* Maklumat Produk */
  .product-details {
    padding: 20px;
    text-align: center;
  }
  
  .product-details h2 {
    font-size: 22px;
    color: #2c3e50;
    margin-bottom: 10px;
  }
  
  .product-details p {
    font-size: 16px;
    color: #555;
    margin-bottom: 15px;
  }
  
  /* Butang */
   

  .custom-button {
    display: inline-block;
    padding: 12px 24px;
    background-color: #25D366;
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-weight: bold;
    border-radius: 8px;
    transition: background-color 0.3 ease;
  }
  
  button:hover {
    background-color: #1ebe5d;
  }
  
  /* Responsive */
  @media (max-width: 768px) {
    .product-grid {
      flex-direction: column;
      align-items: center;
    }
  
    .product-card {
      max-width: 100%;
    }
  }